/* 
  Use this file later to add in any CSS we wish
*/

.cardSize {
  width: 18rem;
}

.card-img{
  height: 30%;
  width: 100%;
}

/* Resposive units. %, em, rem, vh, vw */
/* Fixed units - px, pt,  */
/* 1 rem = 16 px */